.name{
    font-family: 'Lobster';
    font-size: 3rem;
}
.col-md-2{
    background-color: #ff7675;
  
    border-bottom-left-radius: 4.8rem;
    border-top-right-radius: 3.8rem;
}
.nav-link{
    font-family: 'Teru Telugu';
    color: black;
    font-size: 1.7rem;
}
nav{
    /* border-right: 1px solid; */
}
.nav-link:hover{
    background-color: #6c5ce7;
    border-radius: 50px;
    color: black;
}
/* ======================= Cards ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  .cardBox .card {
    position: relative;

    padding: 30px;
    border-radius:  0.8rem 5.8rem 4.8rem 1.8rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  .cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;

  }
  
  .cardBox .card .cardName {
 
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .cardBox .card .iconBx {
    font-size: 3.5rem;
   
  }
  

  .my:hover{
    background-color: #6c5ce7;
    color: white;
  }

  .image{
    background: url('../assests/graph.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  h1 a{
    text-decoration: none;
    color: black;
  }