.navbar-brand{font-family: 'Lobster';
    font-size: 3.5rem;
}
.nav-link{
    font-family: 'Lobster';
    font-size: 1.5rem;
}
.nav-link:hover{
    text-decoration: underline;
}
.hero{
    background: url('../assests/img\ 12-min.jpg') no-repeat 0 0;
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.image-h1{
    font-family: 'Tiro Telugu';
    font-size: 4rem;
    font-weight: 700;
}
.image-h4{
    font-family:'Tiro Telugu' ;
}
.btn{
    font-family: 'Tiro Telugu';
    background-color: black;
}
.btn:hover{background-color: grey;}