nav{
    background-color: white;
}
.navbar-brand{font-family: 'Lobster';
    font-size: 2rem;
}
.nav-link{
    font-family: 'Lobster';
    font-size: 1.5rem;
}
.nav-link:hover{
    text-decoration: underline;
}
.btn{
    font-family: 'Tiro Telugu';
    background-color: black;
    /* color: white; */
}
.btn:hover{background-color: grey;}
.image{
    background: url('../assests/jar-min-min.jpg') no-repeat 0 0;
    background-size: cover;
    background-position: center;
    height: 80vh;
    /* width: 100vw; */
}
.image-h1{
    font-family: 'Tiro Telugu';
    font-weight: 700;
    font-size: 3.8rem;
}
.catagories-h1{
    font-family: 'Tiro Telugu';
    font-weight: 800;
    text-transform: uppercase;
}
i{
    font-size: 1.5rem;
}
.icon-p{
    color: rgb(0, 0,0,0.1);
}








/*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    background: #F7F7F7;
  }
 
  
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
   
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
   -o-transition: all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
 
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40); */
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    /* box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50); */
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    /* margin-top: 10px; */
    /* margin-bottom: 0px; */
    /* padding-bottom: 0px;  */
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p:hover{
    text-decoration: underline;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 10px;
    /* margin-bottom: 4px;  */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: black;
  }
.text-container{
  font-family: 'Teru Telugu';
}
h6{  font-family: 'Teru Telugu';
}






  .footer:hover{
    text-decoration: underline;
    color: black;
}


footer{
    background-color: white;
color: black;
}
.m{
    text-decoration: none;
    color: black;
}